.pain-level-recorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pain-button {
    width: calc(20% - 10px); /* 5 buttons in a row with spacing */
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .pain-button.active {
    
    color: rgb(215, 236, 27);
  }
  
  .submit-button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #3e8e41;
  }
  
  .pain-level-display {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; /* Add spacing after the display */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .pain-level-display h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }