#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
 
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 100;

  .active {
    background-color: #ddd;
    font-weight: bold;
  }
  
  .menu.button {
  
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
}


